# Spam Mail Classifier

In [31]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [32]:
# Data Collection & Pre-Processing

In [33]:
raw_mail_data = pd.read_csv('mail_data.csv')
raw_mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [34]:
raw_mail_data.shape

(5572, 2)

In [35]:
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)), '')

In [36]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [10]:
mail_data.shape

(5572, 2)

In [11]:
mail_data['Category'].value_counts()

Category
ham     4825
spam     747
Name: count, dtype: int64

In [25]:
mail_data.loc[mail_data['Category'] == 'spam', 'Category',] = 0
mail_data.loc[mail_data['Category'] == 'ham', 'Category',] = 1

In [26]:
mail_data.sample(5)

     Category                                            Message
2092        1    Then get some cash together and I'll text jason
1479        1  I think its far more than that but find out. C...
989         1  Yun ah.the ubi one say if ü wan call by tomorr...
3884        1  Gumby's has a special where a  &lt;#&gt; " che...
4260        1  Sad story of a Man - Last week was my b'day. M...

In [15]:
x = mail_data['Message']

y = mail_data['Category']

In [16]:
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [17]:
y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [38]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [39]:
x_train.shape,x_test.shape

((4457,), (1115,))

In [40]:
#Feature Extraction

#Transform the text data to feature vectors that can be used as input to the Logistic regression.

In [45]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words ='english', lowercase = True)

x_train_features = feature_extraction.fit_transform(x_train)
x_test_features = feature_extraction.transform(x_test)

y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [46]:
x_train

3765    Would me smoking you out help us work through ...
4146    Lol I would but despite these cramps I like be...
4695    Pls give her the food preferably pap very slow...
866     Congratulations ur awarded either a yrs supply...
1638    0A$NETWORKS allow companies to bill for SMS, s...
                              ...
4873    Hi dis is yijue i would be happy to work wif ü...
5372       Ok., is any problem to u frm him? Wats matter?
4601    Hi did u decide wot 2 get 4 his bday if not il...
4159    It certainly puts things into perspective when...
728       Alright omw, gotta change my order to a half8th
Name: Message, Length: 4457, dtype: object

In [50]:
print(x_train_features)

  (0, 6648)	0.311092796158016
  (0, 2277)	0.4936747246282833
  (0, 7302)	0.36810884398549154
  (0, 3313)	0.4056443676589266
  (0, 6037)	0.599545715027662
  (1, 3061)	0.4245965350693474
  (1, 3985)	0.2837110833343984
  (1, 2020)	0.5431075904560887
  (1, 2234)	0.5625985056470365
  (1, 4064)	0.35741134597691415
  (2, 7126)	0.2936243045610253
  (2, 3421)	0.24957423576912405
  (2, 6348)	0.3124696173381268
  (2, 4044)	0.2741573343616317
  (2, 6015)	0.597956785412559
  (2, 4890)	0.33295173291216396
  (2, 5187)	0.3214168036087052
  (2, 2859)	0.25894128033207076
  (2, 5071)	0.1998235243794335
  (3, 470)	0.24484763853881522
  (3, 1020)	0.253634671976253
  (3, 552)	0.26601930002170737
  (3, 4592)	0.1989067209650145
  (3, 6040)	0.253634671976253
  (3, 7349)	0.15222078472403347
  :	:
  (4453, 4749)	0.2676151016420221
  (4454, 6360)	0.36742954876276035
  (4454, 2936)	0.3039753158837498
  (4454, 1253)	0.32877294398308615
  (4454, 2165)	0.3039753158837498
  (4454, 7319)	0.2682293922589869
  (4454, 7052)	0.2918385433615397
  (4454, 3516)	0.24211327737311866
  (4454, 2263)	0.20324087599308038
  (4454, 5238)	0.2918385433615397
  (4454, 3764)	0.2576269031236728
  (4454, 3336)	0.20196877529520846
  (4454, 7027)	0.3503237286438269
  (4455, 4980)	0.4824013771336757
  (4455, 5315)	0.4824013771336757
  (4455, 1679)	0.44400852873988716
  (4455, 3245)	0.42155015213364844
  (4455, 6599)	0.3254720359543075
  (4455, 3985)	0.23194325196729262
  (4456, 3219)	0.495583607757872
  (4456, 4767)	0.4434441439480338
  (4456, 1692)	0.3674789100068199
  (4456, 3124)	0.39362756394777076
  (4456, 4811)	0.37725766247047526
  (4456, 929)	0.35418558218530516

In [51]:
#Training the Model

In [52]:
model = LogisticRegression()
model.fit(x_train_features,y_train)

LogisticRegression()

In [54]:
prediction = model.predict(x_train_features)

In [55]:
accuracy = accuracy_score(y_train,prediction)
accuracy

0.9683643706529056

In [60]:
test_prediction = model.predict(x_test_features)
accuracy_on_test = accuracy_score(y_test,test_prediction)
accuracy_on_test

0.9695067264573991

In [62]:
y_test,test_prediction

(3928    1
 447     1
 4354    1
 3597    1
 3322    1
        ..
 5259    1
 3577    1
 4749    1
 1766    1
 4810    1
 Name: Category, Length: 1115, dtype: int32,
 array([1, 1, 1, ..., 1, 1, 1]))

In [63]:
#Building a predictive system

In [67]:
input_mail = ["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times"]

input_data_features = feature_extraction.transform(input_mail)

data_prediction = model.predict(input_data_features)
data_prediction

if data_prediction[0] == 1:
    print('Ham mail')
else:
    print ('Spam mail')

Ham mail